.banner {
  padding-top: 90px;
  margin-bottom: 42px;
}

.avatar-svg-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.header-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.shipping-card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#profile-avatar-uploader {
  display: none;
}
.doc-avatar {
  width: 120px;
  height: 120px;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
}

.single-stock-bg {
  aspect-ratio: 1 / 1;
  background: var(--blue-royal);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url(../assets/svg-icons/tick-circle.svg);
  background-size: calc(30px) calc(30px);
  padding-right: calc(1.5em + 1.2rem);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url(../assets/svg-icons/invalid.svg);
  background-size: calc(30px) calc(30px);
  padding-right: calc(1.5em + 1.2rem);
}
